.r-container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  padding: 5px;
}
h1 {
  font-size: 1.5rem; /* Styles the main heading */
  font-weight: 500;
  margin-top: 10px;
}
.filter-cart-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#ratingFilter {
    padding: 5px;
    font-size: 1rem;
    margin-right: 10px;
    border: 1px solid;
}
.card-items {
     text-align: center;
  width: 70%; /* Ensures the heading spans the full width of the div */
}
.card-container {
    display: grid;

   grid-template-columns: repeat(4, 1fr);
  /* Adds spacing between the cards */
  gap: 20px; 
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.receipe-card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.receipe-card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}
h4 {
    font-weight: 600;

}
.add-cart{
   padding: 8px 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  background-color: #28a745;
  cursor: pointer;
}

